<a href="https://colab.research.google.com/github/AhnJunYeong0319/Smarketforecast/blob/master/%EC%A4%80%EC%98%8120201023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
stockname = str(input())

LG화학

In [8]:
import pandas as pd
import pandas_datareader as pdr
# 회사명으로 주식 종목 코드를 획득할 수 있도록 하는 함수
def get_code(df, name):
    code = df.query("name=='{}'".format(name))['code'].to_string(index=False)
# 위와같이 code명을 가져오면 앞에 공백이 붙어있는 상황이 발생하여 앞뒤로 sript() 하여 공백 제거
    code = code.strip()
    return code
# excel 파일을 다운로드하는거와 동시에 pandas에 load하기
# 흔히 사용하는 df라는 변수는 data frame을 의미합니다.
code_df = pd.read_html('http://kind.krx.co.kr/corpgeneral/corpList.do?method=download', header=0)[0]
# data frame정리
code_df = code_df[['회사명', '종목코드']]
# data frame title 변경 '회사명' = name, 종목코드 = 'code'
code_df = code_df.rename(columns={'회사명': 'name', '종목코드': 'code'})
# 종목코드는 6자리로 구분되기때문에 0을 채워 6자리로 변경
code_df.code = code_df.code.map('{:06d}'.format)
# ex) 삼성전자의의 코드를 구해보겠습니다.
code = get_code(code_df, stockname)
# yahoo의 주식 데이터 종목은 코스피는 .KS, 코스닥은 .KQ가 붙습니다.
# 삼성전자의 경우 코스피에 상장되어있기때문에 '종목코드.KS'로 처리하도록 한다.
code = code + '.KS'
# get_data_yahoo API를 통해서 yahho finance의 주식 종목 데이터를 가져온다.
df = pdr.get_data_yahoo(code)

df

                High       Low      Open     Close    Volume     Adj Close
Date
2015-11-02  315000.0  303500.0  303500.0  314500.0  232306.0  294680.34375
2015-11-03  321000.0  314500.0  317500.0  319000.0  203944.0  298896.75000
2015-11-04  321500.0  314000.0  321000.0  315500.0  152967.0  295617.34375
2015-11-05  313500.0  303000.0  312000.0  304000.0  270565.0  284842.06250
2015-11-06  306500.0  300500.0  301500.0  304000.0  168141.0  284842.06250
...              ...       ...       ...       ...       ...           ...
2020-10-26  650000.0  634000.0  645000.0  646000.0  264208.0  646000.00000
2020-10-27  641000.0  627000.0  633000.0  632000.0  261388.0  632000.00000
2020-10-28  647000.0  626000.0  647000.0  642000.0  368105.0  642000.00000
2020-10-29  654000.0  629000.0  629000.0  651000.0  386081.0  651000.00000
2020-10-30  648000.0  611000.0  647000.0  611000.0  765375.0  611000.00000

[1220 rows x 6 columns]